{% extends 'base.html' %}

{% block title %}Lysender :: Contact{% endblock %}

{% block headdesc %}
<meta name="description" content="Contact Lysender" />
{% endblock %}

{% block headkeywords %}
<meta name="keywords" content="contact, lysender, info" />
{% endblock %}

{% block content %}
<div class="row">
    <div class="span1">
        <img src="{{ base_url }}media/images/letter_64.png" alt="contact" />
    </div>
    
    <div class="about-info span8">
        <h2 class="fancy"><a href="{{ base_url }}contact">Contact</a></h2>
        
        <p>Got to say something? You may contact me by filling up the form below. I will answer as soon as I receive your message/inquiry or anything.</p>

        <p>You may also find me on Twitter: <a href="http://twitter.com/lysender">@lysender</a></p>

        {% if posted %}
            {% if error_messages %}
                <div class="alert alert-error">
                    <strong>Opps!</strong> Fill up the form correctly and try submitting again.
                </div>
            {% else %}
                <div class="alert alert-success">
                    <strong>Success!</strong> Your message has been sent. Will respond soon.
                </div>
            {% endif %}
        {% endif %}

        <form class="form-horizontal validate" id="contact-form" action="{{ base_url }}contact" method="post" enctype="multipart/form-data">
            <div class="control-group">
                <label for="name" class="control-label">Your Name</label>
                <div class="controls">
                    <input type="text" placeholder="Name" name="name" id="name" class="required" maxlength="100" value="{{ name }}">
                    {% if 'name' in error_messages %}
                        <label for="name" class="error">{{ error_messages.name }}.</label>
                    {% endif %}
                </div>
            </div>
            <div class="control-group">
                <label for="email" class="control-label">Your Email</label>
                <div class="controls">
                    <input type="text" placeholder="Email" name="email" id="email" class="required email" value="{{ email }}">
                    {% if 'email' in error_messages %}
                        <label for="email" class="error">{{ error_messages.email }}.</label>
                    {% endif %}
                </div>
            </div>
            <div class="control-group">
                <label for="message" class="control-label">Message</label>
                <div class="controls">
                   <textarea placeholder="Enter your message here" name="message" id="message" class="span5 required" minlength="10" maxlength="500">{{ message }}</textarea>
                    {% if 'message' in error_messages %}
                        <label for="message" class="error">{{ error_messages.message }}.</label>
                    {% endif %}
                </div>
            </div>
            <div class="form-actions">
                <input type="hidden" name="token" id="token" value="{{ token }}">
                <input class="btn btn-primary" type="submit" name="submit" id="submit" value="Send Message">
            </div>
        </form>
    </div>
</div>
{% endblock %}
